<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    <!-- sorting control -->
    <form method="get" action="{{ url_for('index') }}">
      <label for="sort">Sort by:</label>
      <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="title" {% if sort == 'title' %}selected{% endif %}>Title</option>
        <option value="author" {% if sort == 'author' %}selected{% endif %}>Author</option>
        <option value="year" {% if sort == 'year' %}selected{% endif %}>Publication year</option>
      </select>

      <label for="order">Order:</label>
      <select name="order" id="order" onchange="this.form.submit()">
        <option value="asc" {% if order == 'asc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descending</option>
      </select>
      </form>
    <br>
    <!-- search -->
    <form method="get" action="{{ url_for('index') }}">
      <!-- sort + order as hidden to keep their values -->
      <input type="hidden" name="sort" value="{{ sort }}">
      <input type="hidden" name="order" value="{{ order }}">

      <label for="q">Search:</label>
      <input type="text" id="q" name="q" value="{{ q or '' }}">
      <button type="submit">Search</button>
    </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    <hr>

    {% if books %}
      {% for book in books %}
        <div>
          <h3>{{ book.title }}</h3>
          <p>Author: {{ book.author.name }}</p>
          <p>Year: {{ book.publication_year }}</p>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
               alt="Cover for {{ book.title }}">
         <!--delete button -->
          <form method="post" action="{{ url_for('delete_book', book_id=book.id) }}" style="margin-top: 8px;">
          <button type="submit">Delete Book</button>
          </form>
        </div>
        <hr>
      {% endfor %}
    {% else %}
      <p>No books found{% if q %} matching "{{ q }}"{% endif %}.</p>
    {% endif %}

      <hr>


  </body>

</html>